In [2]:
import requests
import pandas as pd
from pykrx import stock
import time
from datetime import datetime

In [56]:
#종목, PER 가져오기
def get_ticker_per(date) :
    tickers = stock.get_market_ticker_list(date, market='ALL')
    
    corp = []
    
    for ticker in tickers :
        corp_name = stock.get_market_ticker_name(ticker)
        corp.append([ticker, corp_name])
        
    df = pd.DataFrame(data=corp, columns=['종목코드', '종목명'])
    df = df.set_index('종목코드')
    
    df_f = stock.get_market_fundamental_by_ticker(date, market='ALL')
    
    df = pd.merge(df, df_f, left_index=True, right_index=True)
    
    return df

In [57]:
a = get_ticker_per(20160105)
a

,종목명,BPS,PER,PBR,EPS,DIV,DPS
060310,Empty DataFrame Columns: [] Index: [],928,0.000000,2.449219,0,0.000000,0
095570,Empty DataFrame Columns: [] Index: [],23715,17.453125,2.009766,2732,0.000000,0
068400,Empty DataFrame Columns: [] Index: [],9426,13.429688,1.230469,860,0.000000,0
006840,Empty DataFrame Columns: [] Index: [],42221,10.421875,1.370117,5549,0.609863,350
054620,Empty DataFrame Columns: [] Index: [],4185,227.125000,3.199219,59,0.000000,0
...,...,...,...,...,...,...,...
000540,Empty DataFrame Columns: [] Index: [],6163,8.078125,0.649902,499,0.000000,0
000547,Empty DataFrame Columns: [] Index: [],0,0.000000,0.000000,0,0.000000,0
000545,Empty DataFrame Columns: [] Index: [],0,0.000000,0.000000,0,0.000000,0
003280,Empty DataFrame Columns: [] Index: [],1976,8.296875,0.919922,220,0.489990,9
037440,Empty DataFrame Columns: [] Index: [],3105,0.000000,1.309570,0,0.000000,0

# BPS, PER, PBR, ROE

In [84]:
SKtelecom = stock.get_market_fundamental_by_date("20160104", "20200102", "017670")
SKtelecom['ROE'] = SKtelecom['EPS'] / SKtelecom['BPS'] * 100
SKt = SKtelecom.drop(['DIV','DPS','EPS'], axis=1)
SKt

               BPS   PER   PBR        ROE
날짜
2016-01-04  179660  8.37  1.17  14.000891
2016-01-05  179660  8.35  1.17  14.000891
2016-01-06  179660  8.27  1.16  14.000891
2016-01-07  179660  8.11  1.14  14.000891
2016-01-08  179660  8.27  1.16  14.000891
...            ...   ...   ...        ...
2019-12-24  278291  5.50  0.87  15.834504
2019-12-26  278291  5.55  0.88  15.834504
2019-12-27  278291  5.39  0.85  15.834504
2019-12-30  278291  5.40  0.86  15.834504
2020-01-02  278291  5.31  0.84  15.834504

[980 rows x 4 columns]

In [85]:
LGUplus = stock.get_market_fundamental_by_date("20160104", "20200102", "032640")
LGUplus['ROE'] = LGUplus['EPS'] / LGUplus['BPS'] * 100
LGU = LGUplus.drop(['DIV','DPS','EPS'], axis=1)
LGU

              BPS    PER   PBR       ROE
날짜
2016-01-04   9567  19.50  1.07  5.466708
2016-01-05   9567  19.31  1.06  5.466708
2016-01-06   9567  19.41  1.06  5.466708
2016-01-07   9567  19.60  1.07  5.466708
2016-01-08   9567  19.60  1.07  5.466708
...           ...    ...   ...       ...
2019-12-24  15696  13.01  0.91  7.027268
2019-12-26  15696  13.01  0.91  7.027268
2019-12-27  15696  12.78  0.90  7.027268
2019-12-30  15696  12.87  0.90  7.027268
2020-01-02  15696  12.56  0.88  7.027268

[980 rows x 4 columns]

In [86]:
samjin = stock.get_market_fundamental_by_date("20160104", "20200102", "005500")
samjin['ROE'] = samjin['EPS'] / samjin['BPS'] * 100
sam = samjin.drop(['DIV','DPS','EPS'], axis=1)
sam

              BPS    PER   PBR        ROE
날짜
2016-01-04   9068  13.55  2.49  18.350243
2016-01-05   9068  14.54  2.67  18.350243
2016-01-06   9068  15.20  2.79  18.350243
2016-01-07   9068  14.66  2.69  18.350243
2016-01-08   9068  15.35  2.82  18.350243
...           ...    ...   ...        ...
2019-12-24  14771  12.14  1.71  14.047796
2019-12-26  14771  12.41  1.74  14.047796
2019-12-27  14771  12.00  1.69  14.047796
2019-12-30  14771  12.02  1.69  14.047796
2020-01-02  14771  11.95  1.68  14.047796

[980 rows x 4 columns]

In [87]:
boryung = stock.get_market_fundamental_by_date("20160104", "20200102", "003850")
boryung['ROE'] = boryung['EPS'] / boryung['BPS'] * 100
bor = boryung.drop(['DIV','DPS','EPS'], axis=1)
bor

              BPS    PER   PBR        ROE
날짜
2016-01-04  22070  21.19  2.54  11.993657
2016-01-05  22070  21.38  2.56  11.993657
2016-01-06  22070  22.48  2.70  11.993657
2016-01-07  22070  22.02  2.64  11.993657
2016-01-08  22070  22.67  2.72  11.993657
...           ...    ...   ...        ...
2019-12-24   5794  31.88  2.66   8.336210
2019-12-26   5794  31.68  2.64   8.336210
2019-12-27   5794  34.06  2.84   8.336210
2019-12-30   5794  34.37  2.87   8.336210
2020-01-02   5794  33.95  2.83   8.336210

[980 rows x 4 columns]

In [88]:
CJ = stock.get_market_fundamental_by_date("20160104", "20200102", "097950")
CJ['ROE'] = CJ['EPS'] / CJ['BPS'] * 100
CJJ = CJ.drop(['DIV','DPS','EPS'], axis=1)
CJJ

               BPS    PER   PBR        ROE
날짜
2016-01-04  206344  56.81  1.80   3.164618
2016-01-05  206344  56.81  1.80   3.164618
2016-01-06  206344  58.81  1.86   3.164618
2016-01-07  206344  59.42  1.88   3.164618
2016-01-08  206344  59.80  1.89   3.164618
...            ...    ...   ...        ...
2019-12-24  291963   4.37  0.83  18.980487
2019-12-26  291963   4.39  0.83  18.980487
2019-12-27  291963   4.51  0.86  18.980487
2019-12-30  291963   4.56  0.86  18.980487
2020-01-02  291963   4.42  0.84  18.980487

[980 rows x 4 columns]

In [89]:
ohddugi = stock.get_market_fundamental_by_date("20160104", "20200102", "007310")
ohddugi['ROE'] = ohddugi['EPS'] / ohddugi['BPS'] * 100
Oh = ohddugi.drop(['DIV','DPS','EPS'], axis=1)
Oh

               BPS    PER   PBR        ROE
날짜
2016-01-04  237829  45.20  5.28  11.675195
2016-01-05  237829  45.20  5.28  11.675195
2016-01-06  237829  45.85  5.35  11.675195
2016-01-07  237829  46.60  5.44  11.675195
2016-01-08  237829  46.64  5.45  11.675195
...            ...    ...   ...        ...
2019-12-24  335073  11.28  1.64  14.527282
2019-12-26  335073  11.40  1.66  14.527282
2019-12-27  335073  11.46  1.67  14.527282
2019-12-30  335073  11.38  1.65  14.527282
2020-01-02  335073  11.28  1.64  14.527282

[980 rows x 4 columns]